body {
  background-color: #222f3e;
}

h1, p{
  color: #1dd1a1;
  font-family: 'Mansalva', cursive;
}

h1 {
  font-size: 9rem;
  margin: 30px auto;
}

p {
  font-size: 3rem;
  margin: 10px auto;
}

img {
  width: 200px;
}

.container {
  text-align: center;
}

.dice {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.footer{
  text-align: center;
  margin-top: 70px;
}
